.container {
  background-image: url('../public/background.png');
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.itens-Formulario{
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  align-items: center;
  width: min(483px, 80%);
}

h1 {
  color: #D9D9D9;
}

h2 {
  color: white;
}

.recuperar-senha {
  text-decoration: none;
  margin-top: 50px  ;
  color: white;
}

.cadastro {
  margin-top: 18px;
  padding: 18px 80px;
  border-radius: 4px;
  border: none;
  font-size: medium;
}